.navbar {
	display: flex;
	height: 50px;
	flex-direction: row;
	align-items: center;
	text-align: center;
	color: inherit;
	background-color: inherit;
	/* box-shadow: var(--boxShadow1); */
	border-bottom: 1px solid white;
}
.navbarLink {
	width: 50%;
	box-sizing: border-box;
}
.navbarLink:nth-of-type(1) {
	border-right: 2px solid #fff;
}
.active {
	font-weight: 700;
}
