.container {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
.innerContainer {
	width: 90%;
	height: calc(100vh-100px);
	box-shadow: var(--boxShadow1);
	padding: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.row1,
.row2,
.row3 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.dummyBox,
.verHeading {
	width: 10%;
}
.verHeading {
	transform: rotate(270deg);
}
.horiHeading,
.verHeading {
	font-weight: 900;
	letter-spacing: 1.2;
	font-size: 1.2rem;
}
.horiHeading {
	text-align: center;
	width: 40%;
}
.quad {
	width: 40%;
	height: 35vh;
	border: 1px solid var(--secondaryColor);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.quad button {
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
	color: inherit;
}
.todoInputContainer {
	position: relative;
	box-shadow: var(--boxShadow3);
	width: max-content;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
.todoInput {
	outline: none;
	border: none;
	background: none;
	color: inherit;
	font-size: 1rem;
}
.todoInput::placeholder {
	color: wheat;
}
.todos {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
